/* Global styles */
body {
    font-family: Arial, sans-serif;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding-top: 200px;
    color: black;
    text-align: center;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    z-index: 1000;
    text-align: center;
}


.header-content {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.logo {
    max-width: 120px;
    margin-right: 20px;
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.navbar a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 12px 12px;
    margin: 0 15px;
    font-size: 18px;
}

.navbar a:hover {
    display: inline-block;
    background-color: #CE5834;
    font-family:Arial;
    text-align:center;
    text-transform:capitalize;
    padding: 21px 12px;
    transform: scale(1.0);
}

.drones-section {
    padding-top: 120px;
    margin-bottom: 50px;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.drones-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.drone-card {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    color: #fff;
}

.drone-image {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 15px;
}

.drone-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.drone-card p {
    font-size: 16px;
}

.btn {
    padding: 10px;
    background-color: #ff6f61;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #ff4f3e;
}
